/********************/
/* Start of Nav Bar */
/********************/
.sitenav {
  --textLinkColor: #1e1f44;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 175px;
  z-index: 1;
}

.sitenav_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  /* font-size: 16px; */
  align-content: center;
}

.sitenav_logo {
  width: 100px;
  height: 100px;
  background-image: url("./assets/meteor_logo.jpeg");
  background-size: 100px 100px;
  /* margin-right: auto; */
}

.sitenav_title {
  font-size: 100px;
}

.sitenav_timer {
  border: 2px solid var(--textLinkColor);
  border-radius: 32px;
  padding: 0.35em 1.5em;
  margin-left: 20px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  transition: 0.2s;
}
/********************/
/* End of Nav bar */
/********************/

/********************/
/* Start of Game  */
/********************/

#game {
  border: 1px solid black;
  border-radius: 50px;
  box-sizing: border-box;
  width: 1002px;
  height: 1500px;
  margin: auto;
  background-image: url(/assets/Parallax100.png);
}

@keyframes slide {
  from {
    top: -100px;
  }
  to {
    top: 1250px;
  }
}

/********************/
/* End of Game  */
/********************/
