* {
  padding: 0;
  margin: 0;
}

#game {
  border: 1px solid black;
  box-sizing: border-box;
  width: 1002px;
  height: 1500px;
  margin: auto;
  background-image: url(/assets/Parallax100.png);
}

#timer {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-family: arial;
  color: white;
  font-weight: bold;
  padding-top: 10px;
  font-size: 20px;
  position: relative;
  z-index: 100;
}

/* #white {
  width: 300px;
  height: 110px;
  position: absolute;
  top: 500px;
  background-color: white;
  z-index: 100;
} */

@keyframes slide {
  from {
    top: -100px;
  }
  to {
    top: 1250px;
  }
}

/********************/
/* Start of Nav Bar */
/********************/
.sitenav {
  --textLinkColor: #1e1f44;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 70px;
  z-index: 1;
}

.sitenav__container {
  position: relative;
  width: 100%;
  max-width: 1270px;
  padding: 0 10x;
  margin: 0 auto;
}

.sitenav__content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 0;
  font-size: 16px;
  align-content: center;
}

.sitenav__logo {
  display: inline-block;
  width: 125px;
  height: 24px;
  background-image: url("https://www.addthis.com/dietsite-assets/images/nav/logo.svg");
  background-repeat: no-repeat;
  background-size: 125px 24px;
  background-position: 0 0;
  text-indent: -10em;
  margin-right: auto;
  overflow: hidden;
  -webkit-transition: none;
  transition: none;
  cursor: pointer;
}

.sitenav__menu-link {
  position: relative;
  display: inline-block;
  margin: 0 10px;
  font-weight: 500;
  color: var(--textLinkColor);
  transition: all 0.3s ease;
}

.sitenav__button {
  display: inline-block;
  background: none;
  border: 2px solid var(--textLinkColor);
  border-radius: 32px;
  padding: 0.35em 1.5em;
  margin-left: 20px;
  text-decoration: none;
  font-weight: 500;
  color: var(--textLinkColor);
  cursor: pointer;
  transition: 0.2s;
}
/********************/
/* End of Nav bar */
/********************/

/********************/
/* Start of Header  */
/********************/

#wrapper > header .hero__container {
  width: 100%;
  padding: 30px 20px 0;
}

#wrapper > header .container {
  padding-top: 0;
}

#wrapper > header .watch-video {
  width: 100%;
}

/********************/
/* End of Header  */
/********************/
