* {
  padding: 0;
  margin: 0;
}

#game {
  border: 1px solid black;
  box-sizing: border-box;
  width: 1000px;
  height: 1500px;
  margin: auto;
  background-image: url(/assets/Parallax100.png);
}

#timer {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-family: arial;
  color: white;
  font-weight: bold;
  padding-top: 10px;
  font-size: 20px;
  position: relative;
  z-index: 100;
}

/* #white {
  width: 300px;
  height: 110px;
  position: absolute;
  top: 500px;
  background-color: white;
  z-index: 100;
} */

@keyframes slide {
  from {
    top: -100px;
  }
  to {
    top: 1250px;
  }
}
